<ul class="home">
<li class="top"><%= link_to "Count Inventory", new_inventory_events_path, class: "btn btn-large btn-primary" %></li>
<li class="top"><%= link_to "Inventory Worksheet", inventory_worksheet_products_path, class: "btn btn-large btn-primary" %></li>
<li class="top"><%= link_to "Place an order from suppliers", new_po_events_path, class: "btn btn-large btn-primary"  %></li>
<li class="top"><%= link_to "View All Shipments", po_events_path, class: "btn btn-large btn-primary"  %></li>
<li class="top"><%= link_to "Upload Shipworks CSV", new_order_path, class: "btn btn-large btn-primary"  %></li>

</ul>

