<%= form_for @offering do |f| %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_area :name, size: "100x5" %>
	</div>
	<div class="field">
		<%= f.label :price %>
		<%= f.text_field :price %>
	</div>
	<% n=1 %>
<h2>Products</h2>
	<%= f.fields_for(:offering_products, :html => { :class => "form-inline"}) do |builder| %>
	<%= render "offering_product_fields", :f => builder %>
<% end %>
<p><%= link_to_add_fields "Add Product", f, :offering_products %></p>
<div class="actions">
	<%= f.submit "Save" %>
</div>
	<% end %>
