<h1>US Numbers</h1>
<% data=Offering.amazon("US") %>
<table class="table">
<tr>
<th>Offer</th>
<th>FBA Inventory</th>
<th>Need (4 week lead time)</th>
</tr>
<% data["offer"].each_with_index do |o,i| %>
<% if !o.blank? %>
	<% need=data["offer"][i].amazon_need(data["inventory"][i],"Amazon US").round(1) %>
	<tr class="<%= need > 0 ? 'error' : '' %>">
		<td><%= data["offer"][i].name %></td>
		<td><%= data["inventory"][i] %></td>
		<td><%= need %></td>
		</tr>
	<% end %>
<% end %>
</table>

<h1>Canada Numbers</h1>
<% data=Offering.amazon("CA") %>
<table class="table">
<tr>
<th>Offer</th>
<th>FBA Inventory</th>
<th>Need (4 week lead time)</th>
</tr>
<% data["offer"].each_with_index do |o,i| %>
<% if !o.blank? %>
	<% need=data["offer"][i].amazon_need(data["inventory"][i],"Amazon Canada").round(1) %>
	<tr class="<%= need > 0 ? 'error' : '' %>">
		<td><%= data["offer"][i].name %></td>
		<td><%= data["inventory"][i] %></td>
		<td><%= need %></td>
		</tr>
	<% end %>
<% end %>
</table>
