<h1> Edit <%= @event.event_type %> </h1>
<%= form_for @event do |f| %>
	<p>
		<strong><%= f.label :date %></strong><br />
		<%= f.date_select :date %>
	</p>
	<% if @event.event_type == "Product Order" %>
	<p>
		<strong><%= f.label :invoice %></strong><br />
		<%= f.text_field :invoice %><br />
		<strong><%= f.label :received_date %></strong><br />
		<%= f.date_select :received_date %><br/>
		<%= f.radio_button :received, "true" %> received
			<%= f.radio_button :received, "false" %> not yet received
	</p>
	<% end %>
	<% n=1 %>
	<%= f.fields_for :product_counts do |pc| %>  
		<div style="width:300px;height:300px;float:left;margin:10px;border:1px solid #000;text-align:center;valign:middle">
		<% product = Product.all.first(n).last %>
		<strong><%= product.name %></strong><br>
			<% if !product.description.blank? %>
			<%= product.description %><br>
			<% end %>
			<%= pc.hidden_field :product_id, value: Product.all.first(n).last.id %>
			<%= pc.text_field :count %><br>
			<%= pc.radio_button :is_box, "true", checked: true %> boxes
			<%= pc.radio_button :is_box, "false" %> pieces 
			<% if !product.imloc.blank? %>
				<%= image_tag product.imloc, style: "width:200px;max-width:200 px;max-height:200 px" %>
			<% end %>
		</div> 
		<% n = n+1 %>
	<% end %> 
	<div style="width:300px;float:center;text-align:center"><%= f.submit "Submit" %></div>
<% end %>


