<% @events.each do |event| %>
	<p>
	<h2>Date: <%= event.date %> </h2>

	<%= link_to 'Edit', edit_event_path(event) %> | <%= link_to "Delete", event, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{event.event_type}" %><br/>
		<% if event.event_type == "Product Order" %>
			Expected Delivery: <%= event.expected_date %><br/>
			Invoice: <%= event.invoice %><br/>
			Suppier: <%= event.supplier %><br/>
		<% end %>
	Product Counts:<br>
	<ul>
	<% event.product_counts.each do |pc| %>
		<% if pc.count > 0 %>
			<li><%= link_to pc.product.name, product_path(pc.product) %>: <%= pc.count.round %> 
			<% if pc.is_box %>
				boxes
			<% else %>
				pieces
			<% end %>
			</li>
		<% end %>
	<% end %>
	</ul>
	</p>
<% end %>


