<% if @event.event_type == "Inventory" %>
<h2>Load from File</h2>
<%= form_tag load_events_path, multipart: true do %>
<p>Inventory Date: <%= date_select :date, :day, {order: [:month, :day, :year]}, {class:"input-small"} %></p>
<p><%= file_field_tag :file %></p>
<p><%= submit_tag "Import", class: "btn btn-large btn-primary" %></p>
<% end %>
<% end %>
<h2 id="toggle" style="cursor:pointer">Load Manually</h2>
<script>
$( "#toggle" ).click(function() {
 $("#manual").toggle();
});
</script>
<div id="manual" style="display: none">
<center><%= form_for @event do |f| %>
	<p><%= f.hidden_field :event_type, value: @event.event_type %>
		<%= f.label :date %>
		<%= f.date_select :date, {order: [:month, :day, :year]}, {:class => "input-small"} %>
	<% if @event.event_type == "Product Order" %>
		<%= f.label :invoice, "Invoice # (PO#)" %>
		<%= f.text_field :invoice %>
		<%= f.label :supplier %>
		<%= f.text_field :supplier %>
		<%= f.label :expected_date %>
		<%= f.date_select :expected_date, {order: [:month, :day, :year]}, {:class => "input-small"} %>
		<%= f.hidden_field :received, value: false %>
		<%= f.label :additional_cost %>
		<%= f.text_field :additional_cost %>
	<% end %>
	</p>
	<% n=0 %>
	<h2 style="text-align:center">Products</h2>
	<div class="products" style="background-color:#aaa;margin-left:auto;margin-right:auto">
	<%= f.fields_for :product_counts do |builder| %> 
		<%= render "product_fields", f: builder, product: @products[n].product, event: @event %>
		<% n = n+1 %>
	<% end %> 
	</div>

	<div style="width:100%;text-align:center;display:block;margin-left:auto;margin-right:auto;float:left"><%= f.submit "Submit", class: "btn btn-large btn-primary" %></div>
<% end %>
</center>
</div>
<script>
$(window).resize(function() {contresize();});
$(function() {
	contresize();
});

function contresize(){
  var win_width = $(window).width()-230;
	var box_width = $('.product').outerWidth()+10;
	var box_count = Math.floor(win_width/box_width);
	var total_width = box_count * box_width;
	$('.products').css('width',total_width)
  }
  

</script>


