<%= form_for @event do |f| %>
	<p><%= f.hidden_field :event_type, value: @event.event_type %>
		<%= f.label :date %>
		<%= f.date_select :date, {order: [:month, :day, :year]}, {:class => "input-small"} %>
	<% if @event.event_type == "Product Order" %>
		<%= f.label :invoice, "Invoice # (PO#)" %>
		<%= f.text_field :invoice %>
		<%= f.label :supplier %>
		<%= f.text_field :supplier %>
		<%= f.label :expected_date %>
		<%= f.date_select :expected_date, {order: [:month, :day, :year]}, {:class => "input-small"} %>
		<%= f.hidden_field :received, value: false %>
		<%= f.label :additional_cost %>
		<%= f.text_field :additional_cost %>
	<% end %>
	</p>
	<% n=0 %>
	<h2>Products</h2>
	<div style="background-color:#aaa;width:100%">
	<%= f.fields_for :product_counts do |builder| %> 
		<%= render "product_fields", f: builder, product: @products[n].product, event: @event %>
		<% n = n+1 %>
	<% end %> 
	</div>

	<div style="width:100%;text-align:center;display:block;margin-left:auto;margin-right:auto;float:left"><%= f.submit "Submit", class: "btn btn-large btn-primary" %></div>
<% end %>



