<%= form_for @event do |f| %>
	<p><%= f.hidden_field :event_type, value: @event.event_type %>
		<%= f.label :date %>
		<%= f.date_select :date, {order: [:month, :day, :year]}, {:class => "input-small"} %>
	<% if @event.event_type == "Product Order" %>
		<%= f.label :invoice, "Invoice # (PO#)" %>
		<%= f.text_field :invoice %>
		<%= f.label :supplier %>
		<%= f.text_field :supplier %>
		<%= f.label :expected_date %>
		<%= f.date_select :expected_date, {order: [:month, :day, :year]}, {:class => "input-small"} %>
		<%= f.label :received_date %>
		<%= f.date_select :received_date, {order: [:month, :day, :year]}, {:class => "input-small"} %>
		<%= f.label :received %>
		<%= f.radio_button :received, "true" %> yes	<%= f.radio_button :received, "false", checked: true %> no
		<%= f.label :additional_cost %>
		<%= f.text_field :additional_cost %>
	<% end %>
	</p>
	<% n=1 %>
	<h2>Products</h2>
	<%= f.fields_for(:product_counts, :html => { :class => "form-inline"}) do |builder| %>
	<%= render "product_count_fields", :f => builder %>
	<% end %>
<p><%= link_to_add_fields "Add Product", f, :product_counts %></p>
<div class="actions">
	<%= f.submit "Save" %>
</div>
	<% end %>
