<h1><%= @sku.name %></h1>
<% if [@sku.weight,@sku.length,@sku.width,@sku.height].any? { |a| a.blank? } %>

<%= form_for @sku do |f| %>

	<div class="field">
		<%= f.label :name %>
		<%= f.text_area :name %>
	</div>
	<div class="field">
		<%= f.label :weight %>
		<%= f.text_field :weight %>
	</div>
	<div class="field">
		<%= f.label :height %>
		<%= f.text_field :height %>
	</div>
	<div class="field">
		<%= f.label :length %>
		<%= f.text_field :length %>
	</div>
	<div class="field">
		<%= f.label :width %>
		<%= f.text_field :width %>
	</div>
	<%= f.submit %>
<% end %>

<% else %>
<h3><a href="#", style="color:#999">Offerings</a></h3>
<blockquote>
<table>
<tr>
	<th>Modify</th>
	<th>Name</th>
	<th>Price</th>
	<th>Most recent Sale</th>
</tr>
<% @sku.offerings.each do |o| %>
<tr>
	<td><%= link_to "edit", edit_offering_path(o) %></td>
	<td><%= o.name %></td>
	<td><%= o.price %></td>
	<% if o.orders.count>0 %>
	<td><%= o.orders.sort_by(&:date).last.date %></td>
	<% else %>
	<td>never</td>
	<% end %>
</tr>
<% end %>
</table>
</blockquote>
<h3><a href="#", style="color:#999">Amazon Fees</a></h3>
<blockquote>
<% fees = @sku.fees(@origin) %>
<table class="table table-compact">
<tr>
		<td><strong>Current FBA Inventory</strong>:</td>
		<td><%= amz_inventory= @sku.inventory(@origin) %></td>
	<tr>
	<tr>
		<td><strong>Size Tier (<%= @sku.length %>" x <%= @sku.width %>" x <%= @sku.height %>", <%= @sku.weight %> lbs)</strong>:</td>
		<td><%= size_tier = @sku.get_product_size_tier(@origin) %></td>
	<tr>
	<% if fees[:order_handling]>0 %>
	<tr>
		<td><strong>Order Handling per order</strong>:</td>
		<td><%= number_to_currency(fees[:order_handling]) %></td>
	</tr>
	<% end %>
	<tr>
		<td><strong>Pick and Pack per unit</strong>:</td>
		<td><%= number_to_currency(fees[:pick_and_pack]) %></td>
	</tr>
	<tr>
		<td><strong>Weight Handling per lb</strong>:</td>
		<td><%= number_to_currency(fees[:weight_handling]) %></td>
	</tr>
	<% if fees[:special_handling]>0 %>
	<tr>
		<td><strong>Special Handling</strong>:</td>
		<td><%= number_to_currency(fees[:special_handling]) %></td>
	</tr>
	<% end %>
	<tr>
		<td><strong>Referral Fee</strong>:</td>
		<td><%= number_to_currency(fees[:referral_fee]) %></td>
	</tr>
	<tr>
		<td><strong>Total Amazon Fees</strong>:</td>
		<td><%= number_to_currency(fees[:amazon_cost]) %></td>
	</tr>
	<tr>
		<td><strong>Inventory fee</strong>:</td>
		<td><%= number_to_currency(fees[:inventory_fee]) %></td>
	</tr>
	<tr>
		<td><strong>Product Cost</strong>:</td>
		<td><%= number_to_currency(fees[:product_cost]) %></td>
	</tr>
	<tr>
		<td><strong>Shipping Cost</strong>:</td>
		<td><%= number_to_currency(fees[:shipping_cost]) %></td>
	</tr>
	<tr>
		<td><strong>Total Cost</strong>:</td>
		<td><%= number_to_currency(fees[:total_cost]) %></td>
	</tr>
</table>
</blockquote>
<% end %>
