<table class="table">
<tr>
<th></th>
<th>Supplier <%= render "sort_buttons", name: "SUP", supplier_prices: supplier_prices %></th>
<th>Date <%= render "sort_buttons", name: "DATE", supplier_prices: supplier_prices %></th>
<th>Terms <%= render "sort_buttons", name: "TERM", supplier_prices: supplier_prices %></th>
<th>MOQ <%= render "sort_buttons", name: "MOQ", supplier_prices: supplier_prices %></th>
<th>Price <%= render "sort_buttons", name: "PRICE", supplier_prices: supplier_prices %></th>
</tr>
<% supplier_prices.each do |sp| %>
<tr id="sp<%= sp.id %>">
<td><%= link_to "-", sp, :method => :delete, remote: true, :confirm => "You sure?", :title => "Delete #{sp.id}", class: "btn btn-danger" %></td>
<td><%= !sp.supplier.blank? ? sp.supplier.name : "" %></td>
<td><%= sp.date %></td>
<td><%= !sp.ship_term.blank? ? sp.ship_term.term : "" %></td>
<td><%= sp.quantity %></td>
<td><%= sp.price %></td>
</tr>
<% end %>
</table>
</div>
