<div class="field">
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :description %>
	<%= f.text_area :description, size: "10x4" %>
</div>
<div class="field">
	<%= f.label :per_box, "Quantity per Box" %>
	<%= f.text_field :per_box %>
</div>
<div class="field">
	<%= f.label :imloc, "Image Location" %>
	<%= f.text_field :imloc, class: "imname" %><br>
</div>
<div class="field">
	<%= f.label :weight_lbs, "Weight(lbs)" %>
	<%= f.text_field :weight_lbs %><br>
</div>
<div class="field">
	<%= f.label :weight_oz, "Weight(oz)" %>
	<%= f.text_field :weight_oz %><br>
</div>

