<center>
<% y = Product.get_trend["y"] %>
<% d2 = Product.get_trend["dates"] %>
<% x = [] %>
<% d2.each_with_index do |d,i| %>
	<% x[i]=(d-d2[0]).to_i %>
<% end %>
<% lineFit = LineFit.new %>
<% lineFit.setData(x,y) %>
<% b, m = lineFit.coefficients %>
<% startY = m+b %>
<% leadTime = 120 %>
<% leadTimeWeeks = (leadTime/7.0).ceil %>
<% endY = (y.length*m)+b %>
<% preY = (y.length+leadTimeWeeks)*m+b %>
<% prediction_x = (y.length..(y.length+leadTimeWeeks)).to_a %>
<% prediction_y = prediction_x.map { |x| x*m+b } %>
<% sigma = lineFit.sigma %>
<div id="orders_chart" style="width:560px; height:300px;display:block-inline"></div>
<div id="orders_chart1" style="width:560px; height:300px;display:block-inline"></div>
<script type="text/javascript" charset="utf-8">
  $(function () {
    new Highcharts.Chart({
     	chart: { renderTo: 'orders_chart' },
		  title: { text: 'Total Orders by week' },
		  xAxis: { 
		  	type: 'datetime',
				maxZoom: 14 * 24 * 3600000,
		  	text: "Week Number",
		  	min: Date.UTC(<%= d2.first.year %>,<%= d2.first.month-1 %>,<%= d2.first.day %>),
		  	max: Date.UTC(<%= (d2.last+leadTime).year %>,<%= (d2.last+leadTime).month-1 %>,<%= (d2.last+leadTime).day %>),
		  },
		  yAxis: {
		  	min: 0,
		    title: { text: 'Orders'}
		  },
		  series: [{
				name: 'Weekly Sales',
		    data: [ <% (0..(d2.length-1)).each do |n| %>
		    	[Date.UTC(<%= d2[n].year %>, <%= d2[n].month-1 %>, <%= d2[n].day %>), <%= y[n] %> ]<%= "," if n != (d2.length-1) %>
		    <% end %>
		    ]
		  },{
				type: 'line',
				name: 'Regression Line',
				data: [
					[Date.UTC(<%= d2.first.year %>, <%= d2.first.month-1 %>, <%= d2.first.day %>),<%= startY %>],
					[Date.UTC(<%= d2.last.year %>, <%= d2.last.month-1 %>, <%= d2.last.day %>),<%= endY %>]
				],
				marker: {
					enabled: false
				},
				states: {
					hover: {
						lineWidth: 0
					}
				},
				enableMouseTracking: false
			},{
				type: 'line',
				name: 'Plus Sigma',
				data: [
					[Date.UTC(<%= d2.first.year %>, <%= d2.first.month-1 %>, <%= d2.first.day %>),<%= startY+sigma %>],
					[Date.UTC(<%= (d2.last+leadTime).year %>, <%= (d2.last+leadTime).month-1 %>, <%= (d2.last+leadTime).day %>),<%= prediction_y.last+sigma %>]
				],
				marker: {
					enabled: false
				},
				states: {
					hover: {
						lineWidth: 0
					}
				},
				enableMouseTracking: false,
				dashStyle: 'Dash'
			},{
				type: 'line',
				name: 'Minus Sigma',
				data: [
					[Date.UTC(<%= d2.first.year %>, <%= d2.first.month-1 %>, <%= d2.first.day %>),<%= startY-sigma %>],
					[Date.UTC(<%= (d2.last+leadTime).year %>, <%= (d2.last+leadTime).month-1 %>, <%= (d2.last+leadTime).day %>),<%= prediction_y.last-sigma %>]
				],
				marker: {
					enabled: false
				},
				states: {
					hover: {
						lineWidth: 0
					}
				},
				enableMouseTracking: false,
				dashStyle: 'Dash'
			},{
				type: 'line',
				name: 'Prediction Line',
				data: [
					[Date.UTC(<%= d2.last.year %>, <%= d2.last.month-1 %>, <%= d2.last.day %>),<%= prediction_y.first %>],
					[Date.UTC(<%= (d2.last+leadTime).year %>, <%= (d2.last+leadTime).month-1 %>, <%= (d2.last+leadTime).day %>),<%= prediction_y.last %>]
					],
				marker: {
					enabled: false
				},
				dashStyle: 'Dash'
			}]
    });
  });
</script>
<% if Rails.env.production? %>
	<% sql= ActiveRecord::Base.connection() %>
	<% oc=sql.execute("SELECT COUNT(DISTINCT(orders.order_number)), EXTRACT(YEAR FROM orders.date) AS year, EXTRACT(MONTH FROM orders.date) AS month FROM orders GROUP BY year, month ORDER BY year, month ") %>
	<% oc_origin=sql.execute("SELECT COUNT(DISTINCT(orders.order_number)), EXTRACT(YEAR FROM orders.date) AS year, EXTRACT(MONTH FROM orders.date) AS month, orders.origin AS origin FROM orders GROUP BY year, month, origin ORDER BY year, month, origin") %>
	<% d=sql.execute("SELECT SUM(orders.quantity * offering_products.quantity), EXTRACT(YEAR FROM orders.date) AS year, EXTRACT(MONTH FROM orders.date) AS month FROM orders INNER JOIN offerings ON offerings.id = orders.offering_id INNER JOIN offering_products ON offering_products.offering_id = offerings.id INNER JOIN products ON products.id = offering_products.product_id GROUP BY year, month ORDER BY year, month ") %>
	<% oc2 = {} %>
	<% oc2["y"]=d.map { |a| a["sum"].to_i } %>
	<% oc2["dates"] = d.map { |a| Date.new(a["year"].to_i,a["month"].to_i,1) } %>
	<% amzca = [] %><% amzus = [] %><% phone = [] %><% web = [] %><% buy = [] %><% ebay = [] %>

	<% oc_origin.each do |oco| %>
		<% if oco["origin"] == "Amazon Canada" %>
			<% amzca << oco %>
		<% elsif oco["origin"] == "Amazon US" %>
			<% amzus << oco %>
		<% elsif oco["origin"] == "phone or email" %>
			<% phone << oco %>
		<% elsif oco["origin"] == "Website" %>
			<% web << oco %>
		<% elsif oco["origin"] == "Buy" %>
			<% buy << oco %>
		<% elsif oco["origin"] == "EBay" %>
			<% ebay << oco %>
		<% end %>
	<% end %>
<% else %>
	<% oc=Order.count(:all, group: "strftime('%m/%Y', date)") %>
<% end %>
<script type="text/javascript" charset="utf-8">
  $(function () {
    new Highcharts.Chart({
     	chart: { renderTo: 'orders_chart1' },
		  title: { text: 'Total Orders by month' },
		  xAxis: { 
		  	type: 'datetime',
				maxZoom: 14 * 24 * 3600000,
		  	text: "Month Number",
		  	min: Date.UTC(<%= d2.first.year %>,<%= d2.first.month-1 %>,<%= d2.first.day %>),
		  	max: Date.UTC(<%= (d2.last+leadTime).year %>,<%= (d2.last+leadTime).month-1 %>,<%= (d2.last+leadTime).day %>)
		  },
		  yAxis: {
		  	min: 0,
		    title: { text: 'Orders'}
		  },
		  series: [{
				name: 'Monthly Sales',
		    data: [
		    <% if Rails.env.production? %>
		    	<% (0..(oc.count-1)).each do |val| %>
		    	[Date.UTC(<%= oc[val]['year'].to_i %>, <%= oc[val]['month'].to_i-1 %>, 1),<%= oc[val]['count'].to_i %>]<%= "," if val != (oc.count-1) %>
		    	<% end %>
		    <% else %>
					<% (d2.first.year..d2.last.year).each do |year| %>
						<% (1..12).each do |month| %>
							<% date = "%02d" % month + "/#{year}" %>
							<% if oc[date] %>
								[Date.UTC(<%= year %>, <%= month-1 %>, 1),<%= oc[date] %>]<%= "," if date != "%02d" % (d2.last.month+1) + "/#{d2.last.year}" %>
							<% end %>
						<% end %>
					<% end %>	
				<% end %>	
		    ]
		  }<% if Rails.env.production? %>
		  ,{
				name: 'Monthly Product',
		    data: [
		    	<% (0..(oc2['dates'].count-1)).each do |val| %>
		    		[Date.UTC(<%= oc2['dates'][val].year.to_i %>, <%= oc2['dates'][val].month.to_i-1 %>, 1),<%= oc2['y'][val].to_i %>]<%= "," if val != (oc2['dates'].count-1) %>
		    	<% end %>
		    	]
		    },{
				name: 'Amazon US',
		    data: [
		    	<% amzus.each_with_index do |a,i| %>
		    		[Date.UTC(<%= a['year'].to_i %>, <%= a['month'].to_i-1 %>, 1),<%= a['count'].to_i %>]<%= "," if i != (amzus.count-1) %>
		    	<% end %>
		    	]
		    },{
				name: 'Amazon CA',
		    data: [
		    	<% amzca.each_with_index do |b,i| %>
		    		[Date.UTC(<%= b['year'].to_i %>, <%= b['month'].to_i-1 %>, 1),<%= b['count'].to_i %>]<%= "," if i != (amzca.count-1) %>
		    	<% end %>
		    	]
		    },{
				name: 'Phone/Email',
		    data: [
		    	<% phone.each_with_index do |c,i| %>
		    		[Date.UTC(<%= c['year'].to_i %>, <%= c['month'].to_i-1 %>, 1),<%= c['count'].to_i %>]<%= "," if i != (phone.count-1) %>
		    	<% end %>
		    	]
		    },{
				name: 'Website',
		    data: [
		    	<% web.each_with_index do |d,i| %>
		    		[Date.UTC(<%= d['year'].to_i %>, <%= d['month'].to_i-1 %>, 1),<%= d['count'].to_i %>]<%= "," if i != (web.count-1) %>
		    	<% end %>
		    	]
		    },{
				name: 'EBay',
		    data: [
		    	<% ebay.each_with_index do |d,i| %>
		    		[Date.UTC(<%= d['year'].to_i %>, <%= d['month'].to_i-1 %>, 1),<%= d['count'].to_i %>]<%= "," if i != (web.count-1) %>
		    	<% end %>
		    	]
		    },{
				name: 'Buy.com',
		    data: [
		    	<% buy.each_with_index do |e,i| %>
		    		[Date.UTC(<%= e['year'].to_i %>, <%= e['month'].to_i-1 %>, 1),<%= e['count'].to_i %>]<%= "," if i != (buy.count-1) %>
		    	<% end %>
		    	]
		    }
				<% end %>
				]
    });
  });
</script>
<div class="pagination">
     <%= will_paginate @offerings, :container => false %>
</div>
<%= link_to "Download to CSV", create_csv_products_path %>
<table class="info" id='main'>
<tr'>
	<td id='td1'>Modify</td>
	<td id='td2'>Name</td>
	<td id='td3'>Description</td>
	<td id='td4'>Weight</td>
	<td id='td5'>Quantity per Box</td>
	<td id='td6'>Current Inventory</td>
	<td id='td7'>Amount in Transit</td>
	<td id='td8'>Need (lead Time: 60 days)</td>
	<td id='td9'>Need (lead Time: 90 days)</td>
	<td id='td10'>Need (lead Time: 120 days)</td>
</tr>
	<%= render @products.sort_by(&:name) %>
</table>
</center>
<%= link_to 'New Product', new_product_path %>

<div id='floater' style="background-color:#fff;position:fixed;top:40px;">
<table class='info' id='inflo'>
	<tr>
		<td id='td1f'>Modify</td>
		<td id='td2f'>Name</td>
		<td id='td3f'>Description</td>
		<td id='td4f'>Weight</td>
		<td id='td5f'>Quantity per Box</td>
		<td id='td6f'>Current Inventory</td>
		<td id='td7f'>Amount in Transit</td>
		<td id='td8f'>Need (lead Time: 60 days)</td>
		<td id='td9f'>Need (lead Time: 90 days)</td>
		<td id='td10f'>Need (lead Time: 120 days)</td>
	</tr>
</table>
</div>
<div class="pagination">
     <%= will_paginate @offerings, :container => false %>
</div>
<script>
$(function() {
	var position = $('#main').offset();
	var width = $('#main').width();
	var height = $('#td1').height();
	var navbar_height = $('.navbar-inner').height();
	$('#floater').attr('left',position.left);
	$('#inflo').attr('width',$('#main').width());
	<% (1..10).each do |i| %>
		$('#td<%= i %>f').attr('width',$('#td<%= i %>').width()+1);
	<% end %>
	if ($(window).scrollTop() > position.top-navbar_height ) {
      $('#floater').show(); 
  } else {
    $('#floater').hide();
  };
  $(window).scroll(function () { 
		var position = $('#td1').offset();
		if ($(window).scrollTop() > position.top-navbar_height ) {
		  $('#floater').show(); 
		} else {
		  $('#floater').hide();
		};
	});
});
</script>
