<% provide(:title, 'Cost Table') %>
<h3>Notes</h3>
<ul>
<li>Cost is the average cost of goods sold based on FIFO including material and freight in costs</li>
<li>Retail price is an average when you factor in all combo, wholesale, and dropship prices, weighted by sales</li>
</ul>
<div class="pagination">
     <%= will_paginate @products, :container => false %>
</div>
<%= link_to "Download to CSV", margin_csv_products_path %>
<table class="table">
<tr>
<td>Product Name</td>
<td>Cost</td>
<td>Retail Price</td>
<td>Margin</td>
<td>Total Sales(6 months)</td>
</tr>
<% @products.each do |product| %>
<% output = product.cogs(@start_date,@end_date) %>
<% if output["purchases"] > 0 %>
<tr>
<td><%= product.name %></td>
<td><%= number_to_currency(output["value"]/output["purchases"]) %></td>
<td><%= number_to_currency(product.avg_price) %></td>
<td><%= number_to_currency(product.avg_price-output["value"]/output["purchases"])%></td>
<td><%= output["purchases"] %></td>
</tr>
<% end %>
<% end %>
</table>
