<%= form_tag(po_events_path, class: "form-inline", :style => "display:inline", method: :get) do %>
<%= hidden_field_tag :sort_by, input_name  %>
<%= hidden_field_tag :shipterm, shipterm  %>
<%= hidden_field_tag :product_name, product_name  %>
<%= hidden_field_tag :quantity, quantity  %>
<button class="btn btn-mini" name="commit" type="submit">
		<i class="icon-chevron-<%= direction %>"></i>
</button>
<% end %>

