<p class="fields form-inline">
	<%= f.date_select :date, {order: [:month, :day, :year]}, {:class => "input-small"}  %>
  <%= f.text_field :ship_term_term, data: {autocomplete_source: autocomplete_ship_terms_path}, placeholder: "Shipping Terms", class: "input-small" %>
  <%= f.text_field :product_name, data: {autocomplete_source: autocomplete_products_path}, placeholder: "Product", class: "input-small autocomplete_product" %>
  <%= f.text_field :quantity, placeholder: "Quantity", class: "input-small" %>
  <%= f.text_field :price, placeholder: "Price", class: "input-small" %>
  <%= link_to_remove_fields "-", f %>
</p>
<script>
$(function() {
	 $( ".autocomplete_product" ).autocomplete({
			source: $( "#supplier_supplier_prices_attributes_0_product_name" ).data('autocomplete-source')
	});
});
$(function() {
	 $( ".autocomplete_terms" ).autocomplete({
			source: $( "#supplier_supplier_prices_attributes_0_ship_term_term" ).data('autocomplete-source')
	});
});
</script>
