
<table class="table">
<tr>
<th></th>
<th>Supplier</th>
<th>Contact(email)</th>
<th>Payment Terms</th>
</tr>

<% @suppliers.each do |s| %>
<tr>
<td><%= link_to 'Show', supplier_path(s) %> | <%= link_to 'Edit', edit_supplier_path(s) %> | <%= link_to "Delete", s, :method => :delete, :confirm => "You sure?", :title => "Delete #{s.name}" %></td>
<td><%= s.name %></td>
<td><%= s.contact_name %>(<%= link_to s.email, "mailto:#{s.email}" %>)</td>
<td><%= s.payment_terms %></td>
</tr>
<% end %>
</table>

<div id="accordion">
<h2><a href="#", style="color:#999">Supplier Prices</a></h2>
<blockquote>
<table class="table table-condensed table-bordered">
	<tr>
		<td>Date:</td>
		<td>Supplier:</td>
		<td>Shipping Terms:</td>
		<td>Product Name:</td>
		<td>Quantity:</td>
				<td>Price:</td>
	</tr>
<% SupplierPrice.all.each do |sp| %>
<tr>
		<td><%= sp.date %></td>
		<td><%= !sp.supplier.blank? ? sp.supplier.name : "" %></td>
		<td><%= !sp.ship_term.blank? ? sp.ship_term.term : "" %></td>
		<td><%= !sp.product.blank? ? sp.product.name : "" %></td>
		<td><%= sp.quantity %></td>
		<td><%= sp.price %></td>
</tr>
<% end %>
</table>
</blockquote>
</div>

<script>
$(function() {
	$("#accordion").accordion({ active: false, collapsible: true, autoHeight: false, icons: { "header": "ui-icon-plus", "headerSelected": "ui-icon-minus" } });
});
</script>
